.image{
    width: 45%;
    text-align: center;
}
.form > p{
    color: #F6FCF9;
    font-size: 24px;
    font-weight: 500;
    width: 90%;

}
.scanimage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    width: 50%; 
    background-color: #31C48D ;
    padding: 50px;
}
*.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phone{
    width: 60%;
}

/* TESTTESTETSTETSETE */

.file-upload {
    display: inline-block;
    text-align: center;
  }
  
  .file-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px dashed #6c5ce7;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .file-label:hover {
    background-color: #e5e4ff;
    border-color: #a29bfe;
  }
  
  .file-button {
    background-color: #31C48D;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .file-button:hover {
    background-color: #2db181;
  }
  
  .file-text {
    font-size: 14px;
    color: #555;
  }
  
  .file-input {
    display: none; /* Cache l'input natif */
  }
  h1{
    color : #5F4C3F ;
    font-size: 36px;
    border-bottom: solid 5px #5F4C3F;
  }