.tab_animals{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Permet de passer à la ligne */
        width: 100%;
        gap: 10px; /* Espacement entre les divs */
        margin-top: 50px;
}

.link_animal{
  text-decoration: none !important;
}

.animal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: calc(15% - 10px); /* Divise la largeur en 3 avec espacement */
    height: 100px;
    background-color: var(--primary);
    text-align: center;
    line-height: 100px;
    border: 1px solid #000;
    
  }
  h3{
    color: var(--text);
    font-size: 36px;
    
  }
  .animal_picture{
    width: 40%;
  }
  .name-animal{
    color: var(--text);
    font-size: 22px;
    text-align: center;
  }

  .category{
    margin-top: 50px;
    background-color: var(--primary);
    width: 60%;
    padding: 20px;
    border-radius: 10px;

  }
  .title-img{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .description{
    padding : 0px 0px 0px 15px;
    font-size: 22px;
    color : var(--text);
  }
.no-animals{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--primary);
  color: var(--text);
  font-size: 36px;
  border-radius:10px;
  padding: 20px 20px;
  margin-top: 50px;
}
.animal_picture{
  width: 80%;
  height: 80%;
  display: flex;
}
.name-animal{
  font-size: 36px;
  color: var(--text);
  margin-top: 20px;
}