html{
    margin: none;
}
body{
    margin: 0px!important;
    background-color: var(--secondary);
}
.nav{
    background-color: var(--primary);
    height: 10vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-theme {
    width: 50px; /* ou autre */
    height: auto;
    color: var(--icon-color); /* prendra ta variable thème */
    transition: color 0.3s;
    cursor: pointer;
    transition: 0.25s ease-in-out;
  }
  .icon-theme:hover {
    color: var(--secondary); /* ou autre couleur au survol */
  }
  

.element-nav{
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element-nav > a{
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text);
    transition: 0.5s;
    border-bottom:solid 1px var(--text);
    /*gray : #DFDFDF */

}
.element-nav > a:hover {
    color : #DFDFDF; 
    border-bottom:solid 1px var(--text);

}