.container {
    max-width: 800px;
    margin: 50px auto;
    background: var(--primary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: var(--text);
}
.info {
    margin-bottom: 15px;
    color: var(--text);
}
.info strong {
    color: var(--text)
}